.button-grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 40px);
    gap: 10px;
}

.button {
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    color: #83a0ce;
    border: none;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    
}

.button:hover {
    background-color: #a2daff;
}

/* Center the image using flexbox */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Optional: Set a fixed or relative height for the container to center vertically */
}

/* Center the image using margin auto */
img {
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
    height: 600px;
    width: 350px;
}

