.button-grid {
     padding-bottom: 24.5cm;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 40px);
    gap: 10px;
}

button {
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    color: #83a0ce;
    border: none;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}

.button:hover {
    background-color: #a2daff;
}

/* Center the image using flexbox */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2px; 

    /* Optional: Set a fixed or relative height for the container to center vertically */
}

/* Center the image using margin auto */

.center{
    display: flex;
    justify-content: center;
    text-align: center;
}

.picpic{
    margin-bottom: -9cm;
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
